# Objective 

This data is collected from [grassdoor](https://github.com/PlayingNumbers/ds_salary_proj/blob/master/glassdoor_jobs.csv) using web scrapping. So the data is raw. To predict data science job salary I need to make this dat presentable for the Exploratory Data Analysis. This are the fact I will do in this notebook:

* Delete unnecessary column.
* Create duplicate column by parsing information from old column.
* Create new column with new information.

In [96]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import re
from IPython.display import display

In [97]:
df = pd.read_csv("glassdoor_jobs.csv")
pd.options.display.max_columns = 99
display(df.head(5))

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [98]:
df.shape

(956, 15)

In [99]:
display(df.head())

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

# Delete column

In [101]:
#drop column
df = df.drop(['Unnamed: 0'], axis =1)
df.shape

(956, 14)

# Job Title

First lets have a look in the **Job Title** column.

In [102]:
df["Job Title"].unique().tolist()

['Data Scientist',
 'Healthcare Data Scientist',
 'Research Scientist',
 'Staff Data Scientist - Technology',
 'Data Analyst',
 'Data Engineer I',
 'Scientist I/II, Biology',
 'Customer Data Scientist',
 'Data Scientist - Health Data Analytics',
 'Senior Data Scientist / Machine Learning',
 'Data Scientist - Quantitative',
 'Digital Health Data Scientist',
 'Associate Data Analyst',
 'Clinical Data Scientist',
 'Data Scientist / Machine Learning Expert',
 'Web Data Analyst',
 'Senior Data Scientist',
 'Data Engineer',
 'Data Scientist - Algorithms & Inference',
 'Scientist',
 'Data Science Analyst',
 'Lead Data Scientist',
 'Spectral Scientist/Engineer',
 'College Hire - Data Scientist - Open to December 2019 Graduates',
 'Data Scientist, Office of Data Science',
 'Business Intelligence Analyst',
 'Senior Risk Data Scientist',
 'Data Scientist in Artificial Intelligence Early Career',
 'Data Scientist - Research',
 'R&D Data Analysis Scientist',
 'Analytics Consultant',
 'Director, Data Science',
 'Data Scientist SR',
 'R&D Sr Data Scientist',
 'Customer Data Scientist/Sales Engineer (Bay',
 'Jr. Business Data Analyst',
 'Data Management Specialist',
 'Machine Learning Engineer',
 'E-Commerce Data Analyst',
 'Data Engineer Intern',
 'Sr. Scientist II',
 'Insurance Data Scientist',
 'Data Scientist Analyst',
 'Data Modeler',
 'Data Analyst / Scientist',
 'Scientist, Stem Cells and Genomics',
 'Data Scientist, Rice University',
 'Financial Data Analyst',
 'Postdoc Scientist - T cell engineering',
 'Senior Data Analyst',
 'Ag Data Scientist',
 'Principal Data Scientist',
 'Data Platform Engineer',
 'Chief Data Scientist',
 'Data Scientist II',
 'Senior Data Engineer',
 'Project Scientist',
 'Senior Data Scientist - AI Forecasting, Finance team',
 'Data Analytics Manager',
 'Senior Machine Learning (ML) Engineer / Data Scientist - Cyber Security Analytics',
 'Weapons and Sensors Engineer/Scientist – Entry Level',
 'Associate Scientist',
 'Scientist 2, QC Viral Vector',
 'Data Scientist/ML Engineer',
 'Senior Scientist - Bioanalytical',
 'Sr. Data Scientist',
 'Scientist, Biomarker Science',
 'Data Engineer 4 - Contract',
 'Data Analyst - Asset Management',
 'Senior Research Scientist - Embedded System Development for DevOps',
 'Data Scientist - Bioinformatics',
 'Customer Data Scientist/Sales Engineer',
 'Data Analyst II',
 'MongoDB Data Engineer II',
 'Senior Data Scientist Statistics',
 'Senior Analytical Scientist',
 'Senior Spark Engineer (Data Science)',
 'BI & Platform Analytics Manager',
 'Sr. Data Scientist - Analytics, Personalized Healthcare (PHC)',
 'Data Scientist (Active TS SCI with Polygraph)',
 'Pricipal Scientist Molecular and cellular biologist',
 'Data Scientist (Actuary, FSA or ASA)',
 'Staff Data Scientist',
 'Front-End, Back-End, Fullstack Developers & Data Scientist / Researchers - Cleared OR CLEARABLE (Up to 25% Profit Sharing Benefit!)',
 'Data Engineer 5 - Contract (Remote)',
 'Senior Scientist - Neuroscience',
 'Senior Director Biometrics and Clinical Data Management',
 'Medical Lab Scientist',
 'Risk and Analytics IT, Data Scientist',
 'Scientist, Analytical Development',
 'Analytics Manager',
 'Digital Marketing & ECommerce Data Analyst',
 'Sr. Scientist - Digital & Image Analysis/Computational Pathology',
 'Principal Scientist - Immunologist',
 'Principal Data Scientist with over 10 years experience',
 'MED TECH/LAB SCIENTIST - LABORATORY',
 'Sr. Scientist, Quantitative Translational Sciences',
 'Sr. Data Scientist II',
 'Excel / VBA / SQL Data Analyst',
 'Machine Learning Research Scientist',
 'VP, Data Science',
 'Radar Data Analyst',
 'Quality Control Scientist',
 'AWS Data Engineer',
 'PL Actuarial-Lead Data Scientist',
 'Deep Learning/Computer Vision Scientist',
 'PV Scientist',
 'Senior Data & Machine Learning Scientist',
 'Principal Data Scientist (Computational Chemistry)',
 'Data Systems Specialist 2',
 'Principal Scientist, Chemistry & Immunology',
 'Software Engineer - Data Visualization',
 'Scientist/Senior Scientist, Autoimmune',
 'Data Engineer 4 - Contract (Remote)',
 'UX Data Scientist (Python)',
 'Staff Machine Learning Engineer',
 'Principal Scientist, Hematology',
 'Lead Data Engineer',
 'Pharmacovigilance Scientist (Senior Pharmacovigilance)',
 'Data Science Manager',
 'Marketing Data Analyst',
 'Medical Laboratory Scientist',
 'R&D Specialist/ Food Scientist',
 'Senior Research Scientist-Machine Learning',
 'Data Engineer with R',
 'Analytics Manager - Data Mart',
 'Sr. Data Engineer - Contract-to-Hire (Java)',
 'MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB',
 'Food Scientist - Developer',
 'Data Engineer 5 - Contract',
 'Staff Scientist-Downstream Process Development',
 'Sr. Data Engineer',
 'Senior Research Statistician- Data Scientist',
 'Business Data Analyst, SQL',
 'Medical Technologist / Clinical Laboratory Scientist',
 'ATL - Data & Analytics (DA)',
 'Associate Data Scientist/Computer Scientist',
 'Business Intelligence Analyst / Developer',
 'System and Data Analyst',
 'Data Science Intern',
 'Environmental Scientist',
 'Environmental Data Specialist',
 'Data & Analytics Consultant (NYC)',
 'Big Data Engineer - Chicago - Future Opportunity',
 'Real World Evidence (RWE) Scientist',
 'Survey Data Analyst',
 'Data Scientist - Consultant - National',
 'Lead Health Data Analyst - Front End',
 'Junior Data Analyst',
 'SQL Data Engineer',
 'Sr. Data Scientist, Cyber-Security LT Contract',
 'MSP - Data & Analytics (DA)',
 'Insurance Financial Data Analyst',
 'Data Engineer I - Azure',
 'Information Security Data Analyst',
 'Data Scientist, Senior',
 'CONSULTANT– DATA ANALYTICS GROUP',
 'Data Analyst Level III',
 'Data Engineer, Data Engineering and Artifical Intelligence',
 'Staff Scientist',
 'Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry',
 'Sr. Data Analyst',
 'Program/Data Analyst',
 'Senior Data Scientist: Causal & Predictive analytics AI Innovation Lab',
 'Health Data Analyst/Developer',
 'Principal Data Engineer, Data Platform & Insights',
 'RESEARCH SCIENTIST - BIOLOGICAL SAFETY',
 'Data Operations Lead',
 'Big Data Engineer',
 'Clinical Data Analyst',
 'Computational Chemist/Data Scientist',
 'Product Engineer – Data Science',
 'Market Data Analyst',
 'Staff Data Engineer',
 'Associate Data Engineer',
 'Scientist – Cancer Drug Discovery',
 'Staff BI and Data Engineer',
 'Director - Data, Privacy and AI Governance',
 'Scientist Manufacturing - Kentucky BioProcessing',
 'Data Analytics Project Manager',
 'Consultant - Analytics Consulting',
 'Senior Scientist (Neuroscience)',
 'Machine Learning Engineer - Regulatory',
 'Scientist, Bacteriology',
 'Associate Director, Platform and DevOps- Data Engineering and Aritifical Intelligence',
 'Clinical Laboratory Scientist',
 'Chief Data Officer',
 'Head Data Scientist – NLP lead, Novartis AI Innovation Lab',
 'Senior Data Scientist - R&D Oncology',
 'Director II, Data Science - GRM Actuarial',
 'Clinical Data Manager',
 'Scientist, Molecular/Cellular Biologist',
 'Scientist - Analytical Services',
 'Associate Data Analyst- Graduate Development Program',
 'Head Data Scientist – Image Analytics lead, Novartis AI Innovation Lab',
 'Senior Insurance Data Scientist',
 'Senior Data Science Systems Engineer',
 'ENVIRONMENTAL ENGINEER/SCIENTIST',
 'Scientist, Product Development',
 'Senior Scientist - Regulatory Submissions',
 'Scientist - Biomarker and Flow Cytometry',
 'Revenue Analytics Manager',
 'Associate Scientist, LC/MS Biologics',
 'Sr. Scientist Method Development',
 'IT - Data Engineer II',
 'Research Scientist, Immunology - Cancer Biology',
 'Project Scientist - Auton Lab, Robotics Institute',
 'Staff Machine Learning Scientist, AI Foundation',
 'Sr. Enterprise Account Exec- Data Science / ML - NYC',
 'Enterprise Architect, Data',
 'Advanced Analytics Manager',
 'Senior Manager, Epidemiologic Data Scientist',
 'Corporate Risk Data Analyst (SQL Based) - Milwaukee or',
 'Senior Imagery Scientist - SAR TO 11 #78 (TS/SCI)',
 'Marketing Data Analyst, May 2020 Undergrad',
 'Data Modeler - Data Solutions Engineer',
 'Associate Environmental Scientist - Wildlife Biologist',
 'Associate, Data Science, Internal Audit',
 'Sr Data Engineer (Sr BI Developer)',
 'Senior LiDAR Data Scientist',
 'Salesforce Analytics Consultant',
 'Technology-Minded, Data Professional Opportunities',
 'Managing Data Scientist/ML Engineer',
 'Scientist, Pharmacometrics',
 'Staff Scientist- Upstream PD',
 'Scientist Manufacturing Pharma - Kentucky BioProcessing',
 'Senior Clinical Lab Scientist, Clinical Lab Svcs - FT/Nights (8hr)',
 'Lead Big Data Engineer',
 'Product Engineer – Spatial Data Science and Statistical Analysis',
 'Sr Software Engineer (Data Scientist)',
 'Sr. Data Engineer (ETL Developer)',
 'Sr. Microsoft Data Engineer',
 'Senior Data Scientist Artificial Intelligence',
 'Scientist, Upstream Process Development (Bioreactors)',
 'Diversity and Inclusion Data Analyst',
 'Lab Head, Principle Scientist, Dupixent/Type 2 Inflammation & Fibrosis - Cambridge, MA',
 'Analytics - Business Assurance Data Analyst',
 'Associate Director/Director, Safety Scientist',
 'Senior Scientist, Cell Pharmacology/Assay Development',
 'Data Analyst Senior',
 'Lead Data Engineer (Python)',
 'Senior Data Scientist 4 Artificial Intelligence',
 'Medical Lab Scientist - MLT',
 'Senior Operations Data Analyst, Call Center Operations',
 'Director II, Data Science - GRS Predictive Analytics',
 'RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT',
 'Geospatial Software Developer and Data Scientist',
 'Chief Scientist - Emerging Technology Center',
 'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
 'Senior Scientist Protein/Oligonucleotides',
 'Systems Engineer II - Data Analyst',
 'Senior Research Analytical Scientist-Non-Targeted Analysis',
 'Director Data Science',
 'Sr Data Analyst - IT',
 'Senior Scientist, Logic Gated CAR T Cell Therapy',
 'Associate Machine Learning Engineer / Data Scientist May 2020 Undergrad',
 'Senior Scientist - Biostatistician',
 'Principal Machine Learning Scientist',
 'Sr. BI Data Engineer III',
 'Data Analyst, Performance Partnership',
 'Data Scientist Manager',
 'Process Development Scientist',
 'Sr Data Scientist',
 'Software Data Engineer - College',
 'Senior Data Scientist - Algorithms',
 'Senior Data Scientist Oncology',
 'Data Scientist - Alpha Insights',
 'Associate Principal Scientist, Pharmacogenomics',
 'Data Scientist - Systems Engineering',
 'Data Engineer - Consultant (Charlotte Based)',
 'Data Analyst 1, full-time contract worker for up to 12 months',
 'Scientist, Immuno-Oncology',
 'Products Data Analyst II',
 'Lead Data Analyst',
 'Data Science Engineer - Mobile',
 'Scientist - Analytical Development - Pharmaceutics',
 'Sr Expert Data Science, Advanced Visual Analytics (Associate level)',
 'IT Associate Data Analyst',
 'Business Data Analyst',
 'Data Scientist - Sales',
 'Principal, Data Science - Advanced Analytics',
 'Data Science Project Manager',
 'Sr Scientist, Immuno-Oncology - Oncology',
 'Research Scientist – Security and Privacy',
 'Data Analyst 2 (Missionary Department)',
 'Supply Chain Data Analyst',
 'Data Engineer - ETL',
 'Clinical Document Review Scientist',
 'Data Modeler (Analytical Systems)',
 'Data Scientist in Translational Medicine',
 'Product Manager/Data Evangelist',
 'Senior Data Scientist – Visualization, Novartis AI Innovation Lab',
 'Senior Data Analyst/Scientist',
 'Machine Learning Scientist',
 'Scientist – Cancer Discovery, Molecular Assay',
 'Data Engineering Analyst',
 'Manager of Data Science',
 'Software Engineer (Data Scientist/Software Engineer) - SISW - MG',
 'Associate Research Scientist I (Protein Expression and Production)',
 'Head Data Scientist, Predictive Analytics Lead AI Innovation Lab',
 'Director, Precision Medicine Clinical Biomarker Scientist',
 'Senior Formulations Scientist II',
 'Senior Quantitative Analyst',
 'Tech Manager, Software Engineering - Data',
 'Business Development - Data Supply Partnerships (Veraset)',
 'Research Scientist or Senior Research Scientist - Computer Vision',
 'Data Analyst Chemist - Quality System Contractor',
 'Sr. Manager, Data Science - Marketing Mix Media',
 'Sr. Scientist, Toxicology',
 'Research Scientist / Principal Research Scientist - Multiphysical Systems',
 'Research Scientist, Machine Learning Department',
 'Foundational Community Supports Data Analyst',
 'Senior Health Data Analyst, Star Ratings',
 'Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology',
 'Senior Engineer, Data Management Engineering',
 'Quality Control Scientist III- Analytical Development',
 'Clinical Scientist, Clinical Development',
 'Software Engineer Staff Scientist: Human Language Technologies',
 'Manager, Safety Scientist, Medical Safety & Risk Management',
 'Assistant Director/Director, Office of Data Science',
 'Sr. Data Engineer | Big Data SaaS Pipeline',
 'Scientist - CVRM Metabolism - in vivo pharmacology',
 'Data Scientist (Warehouse Automation)',
 'Jr. Data Scientist',
 'Data Architect / Data Modeler',
 'Data Scientists',
 'Associate Scientist / Sr. Associate Scientist, Antibody Discovery',
 'Machine Learning Engineer (NLP)']

The job titles are long. I am going simplify the job title.

In [103]:
def brif_job_title(title):
    if "data scientist" in title.lower() or "data visualization" in title.lower():
        return "Data Scientist"
    elif "data science" in title.lower():
        return "Data Science"
    elif "analyst" in title.lower() or "analytics" in title.lower():
        return "Analyst"
    elif "data engineer" in title.lower():
        return "Data Engineer"
    elif "machine learning engineer" in title.lower():
        return "ML Engineer"
    elif "machine learning scientist" in title.lower():
        return "ML Scientist"
    elif "applications architect" in title.lower():
        return "Applications Architect"
    elif "enterprise architect" in title.lower():
        return "Enterprise Architect"
    elif "data architect" in title.lower():
        return "Data Architect"
    elif "infrastructure architect" in title.lower():
        return "Infrastructure Architect"
    elif "statistician" in title.lower():
        return "Statistician"
    elif "business intelligence developer" in title.lower():
        return "BI Developer"
    else:
        return "Na"

In [104]:
df["Job_Title"] = df["Job Title"].apply(brif_job_title)
df.head(3)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job_Title
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Data Scientist
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,Data Scientist
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,Data Scientist

**Job Title** column also provide us the information of seniority level of a job. I will make a new column **Seniority** which will parse these information.

In [105]:
def seniority(title):
    if "jr" in title.lower() or "jr." in title.lower() or "junior" in title.lower() or"entry level" in title.lower() or "internship" in title.lower():
        return "Junior"
    elif "mid" in title.lower() or "associate" in title.lower():
        return "mid level"
    elif "sr" in title.lower() or "senior" in title.lower() or "director" in title.lower() or "lead" in title.lower() or "principal" in title.lower():
        return "Senior"
    else:
        return "Na"

In [109]:
df["Seniority"] = df["Job Title"].apply(seniority)
df.Seniority.value_counts()

Na           647
Senior       273
mid level     32
Junior         4
Name: Seniority, dtype: int64

# Salary Parsing

In [110]:
df["Salary Estimate"].unique().tolist()

['$53K-$91K (Glassdoor est.)',
 '$63K-$112K (Glassdoor est.)',
 '$80K-$90K (Glassdoor est.)',
 '$56K-$97K (Glassdoor est.)',
 '$86K-$143K (Glassdoor est.)',
 '$71K-$119K (Glassdoor est.)',
 '$54K-$93K (Glassdoor est.)',
 '$86K-$142K (Glassdoor est.)',
 '$38K-$84K (Glassdoor est.)',
 '$120K-$160K (Glassdoor est.)',
 '$126K-$201K (Glassdoor est.)',
 '$64K-$106K (Glassdoor est.)',
 '$106K-$172K (Glassdoor est.)',
 '$46K-$85K (Glassdoor est.)',
 '$83K-$144K (Glassdoor est.)',
 '$102K-$190K (Glassdoor est.)',
 '$67K-$137K (Glassdoor est.)',
 '$118K-$189K (Glassdoor est.)',
 '$110K-$175K (Glassdoor est.)',
 '$64K-$111K (Glassdoor est.)',
 '$81K-$130K (Glassdoor est.)',
 '$73K-$119K (Glassdoor est.)',
 '$86K-$139K (Glassdoor est.)',
 '$63K-$105K (Glassdoor est.)',
 '-1',
 '$109K-$177K (Glassdoor est.)',
 '$63K-$110K (Glassdoor est.)',
 '$75K-$124K (Glassdoor est.)',
 '$34K-$61K (Glassdoor est.)',
 '$72K-$120K (Glassdoor est.)',
 '$93K-$149K (Glassdoor est.)',
 '$85K-$140K (Glassdoor est.)',
 '$77K-$135K (Glassdoor est.)',
 '$82K-$132K (Glassdoor est.)',
 '$83K-$137K (Glassdoor est.)',
 '$115K-$180K (Glassdoor est.)',
 '$74K-$138K (Glassdoor est.)',
 '$64K-$112K (Glassdoor est.)',
 '$68K-$129K (Glassdoor est.)',
 '$52K-$113K (Glassdoor est.)',
 '$110K-$150K(Employer est.)',
 'Employer Provided Salary:$150K-$160K',
 '$158K-$211K (Glassdoor est.)',
 '$20K-$39K (Glassdoor est.)',
 '$56K-$117K (Glassdoor est.)',
 '$63K-$99K (Glassdoor est.)',
 '$68K-$114K (Glassdoor est.)',
 '$41K-$95K (Glassdoor est.)',
 '$86K-$144K (Glassdoor est.)',
 '$80K-$139K (Glassdoor est.)',
 '$56K-$95K (Glassdoor est.)',
 '$120K-$189K (Glassdoor est.)',
 '$111K-$176K (Glassdoor est.)',
 '$84K-$146K (Glassdoor est.)',
 '$107K-$172K (Glassdoor est.)',
 '$49K-$85K (Glassdoor est.)',
 '$61K-$109K (Glassdoor est.)',
 '$88K-$148K (Glassdoor est.)',
 '$60K-$99K (Glassdoor est.)',
 '$41K-$72K (Glassdoor est.)',
 '$96K-$161K (Glassdoor est.)',
 '$65K-$130K (Glassdoor est.)',
 '$52K-$81K (Glassdoor est.)',
 '$139K-$220K (Glassdoor est.)',
 '$50K-$102K (Glassdoor est.)',
 '$85K-$139K (Glassdoor est.)',
 '$74K-$122K (Glassdoor est.)',
 '$99K-$157K (Glassdoor est.)',
 '$79K-$222K (Glassdoor est.)',
 '$57K-$118K (Glassdoor est.)',
 '$86K-$141K (Glassdoor est.)',
 '$94K-$154K (Glassdoor est.)',
 '$37K-$76K (Glassdoor est.)',
 '$100K-$160K (Glassdoor est.)',
 '$55K-$100K (Glassdoor est.)',
 '$60K-$114K (Glassdoor est.)',
 '$39K-$68K (Glassdoor est.)',
 '$64K-$107K (Glassdoor est.)',
 '$31K-$65K (Glassdoor est.)',
 '$34K-$62K (Glassdoor est.)',
 '$117K-$231K (Glassdoor est.)',
 '$79K-$134K (Glassdoor est.)',
 '$52K-$93K (Glassdoor est.)',
 '$55K-$116K (Glassdoor est.)',
 '$72K-$123K (Glassdoor est.)',
 '$74K-$124K (Glassdoor est.)',
 '$40K-$73K (Glassdoor est.)',
 '$102K-$164K (Glassdoor est.)',
 '$89K-$153K (Glassdoor est.)',
 '$61K-$110K (Glassdoor est.)',
 '$65K-$110K (Glassdoor est.)',
 '$200K-$275K(Employer est.)',
 '$68K-$123K (Glassdoor est.)',
 '$80K-$129K (Glassdoor est.)',
 '$39K-$71K (Glassdoor est.)',
 '$38K-$85K (Glassdoor est.)',
 '$121K-$193K (Glassdoor est.)',
 '$54K-$102K (Glassdoor est.)',
 '$102K-$163K (Glassdoor est.)',
 '$76K-$140K (Glassdoor est.)',
 '$60K-$101K (Glassdoor est.)',
 '$82K-$133K (Glassdoor est.)',
 '$65K-$125K (Glassdoor est.)',
 '$91K-$148K (Glassdoor est.)',
 '$95K-$173K (Glassdoor est.)',
 '$77K-$124K (Glassdoor est.)',
 '$80K-$135K (Glassdoor est.)',
 '$85K-$159K (Glassdoor est.)',
 '$80K-$105K(Employer est.)',
 '$43K-$81K (Glassdoor est.)',
 '$29K-$50K (Glassdoor est.)',
 '$26K-$55K (Glassdoor est.)',
 '$61K-$118K (Glassdoor est.)',
 '$60K-$102K (Glassdoor est.)',
 '$112K-$182K (Glassdoor est.)',
 '$51K-$112K (Glassdoor est.)',
 '$113K-$223K (Glassdoor est.)',
 '$72K-$129K (Glassdoor est.)',
 '$71K-$123K (Glassdoor est.)',
 'Employer Provided Salary:$120K-$145K',
 '$80K-$120K (Glassdoor est.)',
 '$80K-$130K (Glassdoor est.)',
 '$59K-$115K (Glassdoor est.)',
 '$71K-$136K (Glassdoor est.)',
 '$81K-$167K (Glassdoor est.)',
 '$71K-$204K (Glassdoor est.)',
 '$75K-$125K (Glassdoor est.)',
 '$77K-$136K (Glassdoor est.)',
 '$74K-$123K (Glassdoor est.)',
 '$44K-$78K (Glassdoor est.)',
 '$65K-$148K (Glassdoor est.)',
 '$59K-$110K (Glassdoor est.)',
 '$85K-$134K (Glassdoor est.)',
 '$124K-$204K (Glassdoor est.)',
 '$131K-$207K (Glassdoor est.)',
 '$110K-$174K (Glassdoor est.)',
 '$52K-$101K (Glassdoor est.)',
 '$81K-$133K (Glassdoor est.)',
 '$132K-$211K (Glassdoor est.)',
 '$74K-$140K (Glassdoor est.)',
 '$100K-$190K (Glassdoor est.)',
 '$43K-$80K (Glassdoor est.)',
 '$17-$24 Per Hour(Glassdoor est.)',
 '$91K-$149K (Glassdoor est.)',
 '$42K-$82K (Glassdoor est.)',
 '$116K-$185K (Glassdoor est.)',
 '$59K-$116K (Glassdoor est.)',
 '$48K-$95K (Glassdoor est.)',
 '$31K-$72K (Glassdoor est.)',
 '$105K-$198K (Glassdoor est.)',
 '$98K-$182K (Glassdoor est.)',
 '$73K-$124K (Glassdoor est.)',
 'Employer Provided Salary:$200K-$250K',
 '$21-$34 Per Hour(Glassdoor est.)',
 '$117K-$206K (Glassdoor est.)',
 '$111K-$183K (Glassdoor est.)',
 '$81K-$159K (Glassdoor est.)',
 '$83K-$166K (Glassdoor est.)',
 '$114K-$182K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$114K-$179K (Glassdoor est.)',
 '$60K-$123K (Glassdoor est.)',
 '$100K-$166K (Glassdoor est.)',
 '$108K-$173K (Glassdoor est.)',
 '$48K-$93K (Glassdoor est.)',
 '$54K-$115K (Glassdoor est.)',
 '$60K-$127K (Glassdoor est.)',
 '$90K-$179K (Glassdoor est.)',
 '$138K-$224K (Glassdoor est.)',
 '$190K-$220K(Employer est.)',
 '$35K-$62K (Glassdoor est.)',
 '$18-$25 Per Hour(Glassdoor est.)',
 '$39K-$66K (Glassdoor est.)',
 '$42K-$86K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$40K-$68K (Glassdoor est.)',
 '$49K-$113K (Glassdoor est.)',
 '$75K-$140K (Glassdoor est.)',
 '$66K-$112K (Glassdoor est.)',
 '$76K-$125K (Glassdoor est.)',
 '$44K-$86K (Glassdoor est.)',
 '$15-$25 Per Hour(Glassdoor est.)',
 '$53K-$92K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$60K-$103K (Glassdoor est.)',
 '$53K-$105K (Glassdoor est.)',
 '$33K-$62K (Glassdoor est.)',
 '$48K-$90K (Glassdoor est.)',
 '$34K-$64K (Glassdoor est.)',
 '$66K-$111K (Glassdoor est.)',
 '$91K-$138K (Glassdoor est.)',
 '$62K-$114K (Glassdoor est.)',
 '$71K-$129K (Glassdoor est.)',
 '$74K-$119K (Glassdoor est.)',
 '$55K-$97K (Glassdoor est.)',
 '$15K-$16K(Employer est.)',
 '$61K-$106K (Glassdoor est.)',
 '$127K-$199K (Glassdoor est.)',
 '$74K-$126K (Glassdoor est.)',
 '$33K-$72K (Glassdoor est.)',
 '$37K-$63K (Glassdoor est.)',
 '$67K-$119K (Glassdoor est.)',
 '$72K-$117K (Glassdoor est.)',
 '$78K-$126K (Glassdoor est.)',
 '$116K-$194K (Glassdoor est.)',
 '$83K-$133K (Glassdoor est.)',
 '$45K-$82K (Glassdoor est.)',
 '$83K-$135K (Glassdoor est.)',
 '$70K-$122K (Glassdoor est.)',
 '$70K-$132K (Glassdoor est.)',
 '$54K-$101K (Glassdoor est.)',
 '$68K-$112K (Glassdoor est.)',
 '$42K-$74K (Glassdoor est.)',
 '$95K-$161K (Glassdoor est.)',
 '$76K-$126K (Glassdoor est.)',
 '$108K-$176K (Glassdoor est.)',
 '$130K-$208K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$52K-$99K (Glassdoor est.)',
 '$105K-$173K (Glassdoor est.)',
 '$71K-$134K (Glassdoor est.)',
 '$39K-$82K (Glassdoor est.)',
 '$88K-$162K (Glassdoor est.)',
 '$55K-$99K (Glassdoor est.)',
 '$67K-$117K (Glassdoor est.)',
 '$92K-$150K (Glassdoor est.)',
 '$116K-$209K (Glassdoor est.)',
 '$38K-$82K (Glassdoor est.)',
 'Employer Provided Salary:$85K-$90K',
 '$62K-$119K (Glassdoor est.)',
 '$84K-$136K (Glassdoor est.)',
 '$52K-$89K (Glassdoor est.)',
 '$65K-$119K (Glassdoor est.)',
 '$63K-$101K (Glassdoor est.)',
 '$127K-$202K (Glassdoor est.)',
 '$31K-$57K (Glassdoor est.)',
 '$75K-$143K (Glassdoor est.)',
 '$105K-$194K (Glassdoor est.)',
 '$45K-$86K (Glassdoor est.)',
 '$95K-$154K (Glassdoor est.)',
 '$80K-$148K (Glassdoor est.)',
 '$36K-$62K (Glassdoor est.)',
 '$50K-$92K (Glassdoor est.)',
 '$67K-$135K (Glassdoor est.)',
 '$42K-$80K (Glassdoor est.)',
 '$68K-$139K (Glassdoor est.)',
 '$34K-$92K (Glassdoor est.)',
 '$54K-$71K (Glassdoor est.)',
 '$65K-$124K (Glassdoor est.)',
 '$109K-$200K (Glassdoor est.)',
 '$61K-$113K (Glassdoor est.)',
 '$43K-$86K (Glassdoor est.)',
 '$74K-$149K (Glassdoor est.)',
 '$113K-$196K (Glassdoor est.)',
 '$97K-$160K (Glassdoor est.)',
 '$24-$39 Per Hour(Glassdoor est.)',
 '$102K-$172K (Glassdoor est.)',
 '$108K-$171K (Glassdoor est.)',
 '$76K-$142K (Glassdoor est.)',
 '$202K-$306K (Glassdoor est.)',
 '$49K-$97K (Glassdoor est.)',
 '$65K-$134K (Glassdoor est.)',
 '$32K-$59K (Glassdoor est.)',
 '$87K-$158K (Glassdoor est.)',
 '$107K-$173K (Glassdoor est.)',
 '$56K-$99K (Glassdoor est.)',
 'Employer Provided Salary:$25-$28 Per Hour',
 '$80K-$155K (Glassdoor est.)',
 '$43K-$98K (Glassdoor est.)',
 '$45K-$78K (Glassdoor est.)',
 '$44K-$96K (Glassdoor est.)',
 '$50K-$110K (Glassdoor est.)',
 '$61K-$119K (Glassdoor est.)',
 'Employer Provided Salary:$100K-$140K',
 '$56K-$91K (Glassdoor est.)',
 '$101K-$158K (Glassdoor est.)',
 '$125K-$210K (Glassdoor est.)',
 '$43K-$77K (Glassdoor est.)',
 '$139K-$221K (Glassdoor est.)',
 '$78K-$147K (Glassdoor est.)',
 '$37K-$66K (Glassdoor est.)',
 '$38K-$64K (Glassdoor est.)',
 '$43K-$82K (Glassdoor est.)',
 '$90K-$110K(Employer est.)',
 '$93K-$151K (Glassdoor est.)',
 '$40K-$101K (Glassdoor est.)',
 '$97K-$180K (Glassdoor est.)',
 '$81K-$134K (Glassdoor est.)',
 '$84K-$157K (Glassdoor est.)',
 '$121K-$203K (Glassdoor est.)',
 '$52K-$85K (Glassdoor est.)',
 '$81K-$140K (Glassdoor est.)',
 '$83K-$148K (Glassdoor est.)',
 '$31K-$55K (Glassdoor est.)',
 '$102K-$178K (Glassdoor est.)',
 'Employer Provided Salary:$110K-$130K',
 '$48K-$85K (Glassdoor est.)',
 '$66K-$123K (Glassdoor est.)',
 '$92K-$146K (Glassdoor est.)',
 '$21-$29 Per Hour(Glassdoor est.)',
 '$10-$17 Per Hour(Glassdoor est.)',
 '$150K-$239K (Glassdoor est.)',
 '$52K-$91K (Glassdoor est.)',
 '$82K-$129K(Employer est.)',
 '$47K-$101K (Glassdoor est.)',
 '$49K-$76K (Glassdoor est.)',
 '$43K-$88K (Glassdoor est.)',
 '$124K-$199K (Glassdoor est.)',
 '$97K-$181K (Glassdoor est.)',
 '$100K-$173K (Glassdoor est.)',
 '$53K-$96K (Glassdoor est.)',
 '$65K-$96K (Glassdoor est.)',
 '$75K-$127K (Glassdoor est.)',
 '$94K-$139K (Glassdoor est.)',
 '$176K-$289K (Glassdoor est.)',
 '$92K-$149K (Glassdoor est.)',
 '$118K-$188K (Glassdoor est.)',
 '$108K-$146K (Glassdoor est.)',
 '$65K-$106K (Glassdoor est.)',
 '$55K-$98K (Glassdoor est.)',
 '$94K-$162K (Glassdoor est.)',
 '$63K-$120K (Glassdoor est.)',
 '$126K-$228K (Glassdoor est.)',
 '$80K-$134K (Glassdoor est.)',
 '$85K-$142K (Glassdoor est.)',
 '$87K-$140K (Glassdoor est.)',
 '$76K-$127K (Glassdoor est.)',
 '$54K-$92K (Glassdoor est.)',
 '$61K-$100K (Glassdoor est.)',
 '$112K-$179K (Glassdoor est.)',
 '$63K-$111K (Glassdoor est.)',
 '$75K-$126K (Glassdoor est.)',
 '$110K-$184K (Glassdoor est.)',
 '$76K-$145K (Glassdoor est.)',
 '$70K-$118K (Glassdoor est.)',
 '$94K-$153K (Glassdoor est.)',
 '$150K-$180K (Glassdoor est.)',
 '$42K-$77K (Glassdoor est.)',
 '$47K-$85K (Glassdoor est.)',
 '$62K-$112K (Glassdoor est.)',
 '$64K-$108K (Glassdoor est.)',
 '$89K-$144K (Glassdoor est.)',
 '$55K-$105K (Glassdoor est.)',
 '$135K-$211K (Glassdoor est.)',
 '$57K-$80K (Glassdoor est.)',
 '$129K-$215K (Glassdoor est.)',
 '$63K-$127K (Glassdoor est.)',
 '$50K-$89K (Glassdoor est.)',
 '$71K-$124K (Glassdoor est.)',
 '$69K-$121K (Glassdoor est.)',
 '$150K-$238K (Glassdoor est.)',
 '$77K-$132K (Glassdoor est.)',
 '$59K-$112K (Glassdoor est.)',
 '$35K-$65K (Glassdoor est.)',
 '$79K-$147K (Glassdoor est.)',
 '$119K-$187K (Glassdoor est.)',
 '$90K-$157K (Glassdoor est.)',
 '$32K-$62K (Glassdoor est.)',
 '$116K-$208K (Glassdoor est.)',
 '$102K-$165K (Glassdoor est.)',
 '$91K-$159K (Glassdoor est.)',
 '$80K-$133K (Glassdoor est.)',
 '$39K-$69K (Glassdoor est.)',
 '$27K-$48K (Glassdoor est.)',
 '$36K-$71K (Glassdoor est.)',
 '$130K-$206K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$86K-$137K (Glassdoor est.)',
 '$37K-$100K (Glassdoor est.)',
 '$58K-$111K (Glassdoor est.)',
 '$72K-$133K (Glassdoor est.)',
 '$61K-$126K (Glassdoor est.)',
 '$95K-$160K (Glassdoor est.)',
 '$33K-$61K (Glassdoor est.)',
 '$69K-$119K (Glassdoor est.)',
 '$67K-$127K (Glassdoor est.)',
 '$66K-$117K (Glassdoor est.)',
 '$50K-$98K (Glassdoor est.)',
 '$90K-$153K (Glassdoor est.)',
 'Employer Provided Salary:$100K-$135K',
 '$42K-$79K (Glassdoor est.)',
 '$84K-$153K (Glassdoor est.)',
 '$44K-$73K (Glassdoor est.)',
 '$40K-$87K (Glassdoor est.)',
 '$72K-$142K (Glassdoor est.)',
 '$74K-$137K (Glassdoor est.)',
 '$57K-$109K (Glassdoor est.)',
 '$136K-$208K (Glassdoor est.)',
 '$171K-$272K (Glassdoor est.)',
 '$65K-$126K (Glassdoor est.)',
 '$118K-$228K (Glassdoor est.)',
 '$113K-$182K (Glassdoor est.)',
 '$58K-$104K (Glassdoor est.)',
 '$58K-$108K (Glassdoor est.)',
 '$81K-$161K (Glassdoor est.)',
 '$115K-$220K (Glassdoor est.)',
 '$71K-$144K (Glassdoor est.)',
 '$32K-$57K (Glassdoor est.)',
 '$79K-$136K (Glassdoor est.)',
 '$48K-$113K (Glassdoor est.)',
 '$27-$47 Per Hour(Glassdoor est.)',
 '$68K-$125K (Glassdoor est.)',
 '$39K-$67K (Glassdoor est.)',
 '$71K-$135K (Glassdoor est.)',
 '$61K-$123K (Glassdoor est.)',
 '$87K-$141K (Glassdoor est.)',
 '$71K-$121K (Glassdoor est.)',
 '$72K-$121K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$101K-$141K (Glassdoor est.)',
 '$79K-$127K (Glassdoor est.)',
 '$81K-$132K (Glassdoor est.)',
 'Employer Provided Salary:$120K-$140K',
 '$65K-$113K (Glassdoor est.)',
 '$59K-$125K (Glassdoor est.)',
 '$80K-$142K (Glassdoor est.)',
 '$62K-$113K (Glassdoor est.)']

These three thing I noticed in this column:

#### 1. There are some unnecessary word beside salary range.
#### 2. Some salary rage are given in hourly based.
#### 3. Most of the salary range is Glassdoor estimantion but some of the salaries are comfirmed by the company employer

**1.** The salary range information is given in a way in **Salary Estimate** column that there are some unnecessary word beside salary range.I will not delete this word from the column because this information might help me later. I will add a new column **Salary** where only the salary range will be present.To do this I will try to use regex to compile a pattern which will hopefully extract salary of a given job.

In [111]:
#find salary 
def extract_salary(value):  
   
    #  regex to find this type pattern '$44K-$86K',
    pattern_one = re.compile("[$][0-9]*K[-][$][0-9]*K")    
    #  regex to find this type pattern  '$15-$25 Per Hour',    
    pattern_two = re.compile("[$][0-9]*[-][$][0-9]*")

    pattern_one = pattern_one.findall(value)
    pattern_two = pattern_two.findall(value)
   
    if len(pattern_one) != 0:
    
        #remove $ and K sign from extracted salary        
        pattern_one[0] = pattern_one[0].replace("$", "")
        pattern_one[0] = pattern_one[0].replace("K", "")
        return str(pattern_one[0])
    
    elif len(pattern_two) != 0:
        
        #remove $ sign from extracted salary        
        pattern_two[0] = pattern_two[0].replace("$", "")
        return str(pattern_two[0])  
    else:
        return "-1"

In [112]:
df["Salary"] = df["Salary Estimate"].apply(extract_salary)
display(df.head(3))

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job_Title,Seniority,Salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Data Scientist,Na,53-91
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,Data Scientist,Na,63-112
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,Data Scientist,Na,80-90

In [113]:
df["Salary"].isnull().value_counts()

False    956
Name: Salary, dtype: int64

Now I have a column **salary** which represent salary range of a job. The **salary** column is string so I will not be able to use it in algorithm. Beside we need to know for a spececific **Job Title** what is the minmun and maximum salary a company offeres.I will split the value of **salary** column and will create two column new **Min_salary** and **Max_salary**.

In [115]:
df['Min_Salary'] = df["Salary"].apply(lambda x : int(x.split('-')[0]) if x[0] != '-' else 0)
df['Max_Salary'] = df["Salary"].apply(lambda x : int(x.split('-')[1]) if x[0] != '-' else 0)
#avarage Salary
df['Average_Salary'] = (df['Min_Salary']+ df['Max_Salary']) /2
display(df.head(3))

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job_Title,Seniority,Salary,Min_Salary,Max_Salary,Average_Salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Data Scientist,Na,53-91,53,91,72.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,Data Scientist,Na,63-112,63,112,87.5
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,Data Scientist,Na,80-90,80,90,85.0

**2.** If we see properly most of jobs salary range are given in monthly based. But there are some companies where salaries are given in hourly based.I need to track those.So I will add a new column name **Per_Hour** which will show me if the job's salary range is given in per/hour or per/year.

In [116]:
df["Per_Hour"] = df["Salary Estimate"].apply(lambda x : 1 if "per hour" in x.lower() else 0)

As I already track the column now I will covert it to annualy how much a person will earn.

In [117]:
df['Min_Salary'] = df.apply(lambda x: x.Min_Salary*2 if x.Per_Hour ==1 else x.Min_Salary, axis =1)
df['Max_Salary'] = df.apply(lambda x: x.Max_Salary*2 if x.Per_Hour ==1 else x.Max_Salary, axis =1)
## Min_Salary", "Max_Salary", "Average_Salary"
df[df.Per_Hour == 1][["Per_Hour", "Salary", "Min_Salary", "Max_Salary", "Average_Salary"]].head(3)

     Per_Hour Salary  Min_Salary  Max_Salary  Average_Salary
197         1  17-24          34          48            20.5
209         1  21-34          42          68            27.5
240         1  18-25          36          50            21.5

**3.** So far great . But I am not done with this column.  If a employer provide a information about salary, that estimation is more accurate than glassdoor estimation. It is necessary to track those salary. Like **Per_Hour** column I will make a **Employer_Provide** column.

In [118]:
df["Employer_Provide"] = df["Salary Estimate"].apply(lambda x : 1 if "employer" in x.lower() else 0)
df[df.Employer_Provide == 1][["Employer_Provide", "Salary"]].head(3)

     Employer_Provide   Salary
46                  1  110-150
48                  1  150-160
117                 1  200-275

Hurrah. I am done with **Salary Estimate** column.

# Company Name

Company Name is not going to help us in predicting salary of a job. But it will help us in Exploratory Analysis. Lets see how this column is stuctured.

In [28]:
df["Company Name"].unique().tolist()

['Tecolote Research\n3.8',
 'University of Maryland Medical System\n3.4',
 'KnowBe4\n4.8',
 'PNNL\n3.8',
 'Affinity Solutions\n2.9',
 'CyrusOne\n3.4',
 'ClearOne Advantage\n4.1',
 'Logic20/20\n3.8',
 'Rochester Regional Health\n3.3',
 '<intent>\n4.6',
 'Wish\n3.5',
 'ManTech\n4.1',
 'Walmart\n3.2',
 'Yesler\n4.1',
 'Takeda Pharmaceuticals\n3.7',
 'Audible\n3.6',
 'Blueprint Medicines\n3.9',
 'h2o.ai\n4.3',
 'Nuna\n4.2',
 'Pinnacol Assurance\n4.0',
 'Porch\n3.2',
 'Health IQ\n3.9',
 'Truckstop.com\n3.8',
 'SMC 3\n4.3',
 'Mars\n3.9',
 'Novetta\n4.0',
 'Pfizer\n4.0',
 'First Tech Federal Credit Union\n3.5',
 'The Hanover Insurance Group\n3.7',
 'Amrock\n3.6',
 'Novartis\n3.8',
 'Juniper Networks\n3.8',
 'New England Biolabs\n4.7',
 'Clarity Insights\n4.2',
 'Esri\n3.5',
 'Systems & Technology Research\n4.7',
 'Sartorius\n3.5',
 'Lancer Insurance\n3.5',
 'Sauce Labs\n4.2',
 'Amount\n4.1',
 'Persivia\n3.6',
 'Edgewell Personal Care\n3.4',
 'Equity Residential\n4.3',
 'Brightside\n5.0',
 'BPA Services\n5.0',
 'Visa Inc.\n3.7',
 'Intrado\n3.1',
 'Centauri\n4.7',
 'Caterpillar\n3.7',
 'Anson McCade\n4.5',
 'Zimmerman Advertising\n3.8',
 'Liberty Mutual Insurance\n3.3',
 'Torch Technologies, Inc.\n4.6',
 'Swiss Re\n3.7',
 'Northrop Grumman\n3.7',
 'Netskope\n4.1',
 '1904labs\n4.7',
 'Amica Mutual\n3.1',
 'The David J. Joseph Company\n4.4',
 'USEReady\n4.3',
 'Bill.com\n3.8',
 'Pacific Northwest National Laboratory\n3.8',
 'Blue Owl\n4.5',
 "DICK'S Sporting Goods - Corporate\n3.8",
 'Great-Circle Technologies\n2.2',
 'Berg Health\n2.8',
 'Oversight Systems\n4.7',
 'Avlino\n4.9',
 'C Space\n3.1',
 'Numeric, LLC\n3.2',
 'HP Inc.\n4.0',
 'SpringML\n4.4',
 'Grainger\n3.6',
 'EAG Laboratories\n2.7',
 'The Buffalo Group\n3.9',
 'Carmeuse\n3.1',
 'GNS Healthcare\n1.9',
 'Peraton\n3.3',
 'Pactera\n4.4',
 'Nurx\n3.9',
 'webfx.com\n4.7',
 'Johns Hopkins University Applied Physics Laboratory\n4.5',
 'Productive Edge\n4.3',
 'Excella Consulting\n4.0',
 'Gensco\n4.4',
 'goTRG\n4.2',
 'NMR Consulting\n4.5',
 'Kodiak Robotics\n4.9',
 'iSeatz\n3.5',
 'ThousandEyes\n4.7',
 'Nektar Therapeutics\n3.5',
 'TransUnion\n3.9',
 'Peterson Technology Partners\n4.0',
 'IT Concepts\n4.7',
 'Scientific Research Corporation\n4.2',
 'General Dynamics Information Technology\n3.4',
 'MITRE\n3.2',
 'DentaQuest\n3.1',
 'Redjack\n4.1',
 'Alector\n5.0',
 '7Park Data\n3.8',
 'Rapid Response Monitoring\n4.7',
 'Bridgerock Data',
 'NuWave Solutions\n4.5',
 'Trilogy Ed\n4.3',
 'Gallup\n4.2',
 'CapTech\n3.9',
 'American Axle & Manufacturing\n3.3',
 'CentralReach\n4.7',
 'LEAH Labs',
 'Integrate\n4.3',
 'Boys Town Hospital\n2.9',
 'Demandbase\n4.5',
 'Sapphire Digital\n3.4',
 'Formation\n3.2',
 'Autodesk\n4.0',
 "Beck's Hybrids\n4.6",
 'DrFirst\n2.8',
 'Object Partners\n4.7',
 'Briq\n4.9',
 'Geomagical Labs',
 'Teaching Strategies, LLC\n3.1',
 'L.A. Care Health Plan\n3.0',
 'Red Ventures\n3.2',
 'Quick Base\n4.4',
 'The E.W. Scripps Company\n3.5',
 'Upside Business Travel\n4.0',
 'Synagro\n2.3',
 'Alliance Source Testing\n4.0',
 'Accuride International\n3.6',
 'Full Potential Solutions\n3.8',
 'Maven Wave Partners\n4.4',
 'My Job Tank\n3.6',
 'Dynetics\n3.8',
 'First Command Financial Services, Inc.\n3.2',
 'Pharmavite\n2.9',
 'BioMarin Pharmaceutical\n3.8',
 'ShorePoint\n4.5',
 'Stratagem Group\n4.3',
 'PA Consulting\n3.4',
 'Apellis Pharmaceuticals\n4.1',
 'Gridiron IT\n5.0',
 'Hygiena\n4.0',
 'Evolve Vacation Rental\n3.7',
 'The Church of Jesus Christ of Latter-day Saints\n4.2',
 'Maximus Real Estate Partners\n4.3',
 'Software Engineering Institute\n2.6',
 'AVANADE\n3.9',
 'PatientPoint\n3.8',
 'Insight Enterprises, Inc.\n4.1',
 'BlueCross BlueShield of Tennessee\n3.8',
 'KSM Consulting\n4.4',
 'Cogo Labs\n3.9',
 'Church & Dwight\n3.4',
 'MassMutual\n3.6',
 'Genentech\n3.9',
 'Volume Integration, LLC\n4.4',
 'Legal & General America\n3.8',
 'Western Digital\n3.5',
 'CACI International\n3.5',
 'Sunovion\n3.5',
 'National Student Clearinghouse\n2.9',
 'Hamilton Porter LLC\n5.0',
 'Tower Health\n3.6',
 'State of Wisconsin Investment Board\n2.7',
 'Rubius Therapeutics\n4.4',
 'OneMagnify\n4.3',
 'IZEA\n4.2',
 'Vionic Group\n3.6',
 'Dodge Data & Analytics\n2.8',
 'Plymouth Rock Assurance\n3.3',
 'CA-One Tech Cloud',
 'Beebe Healthcare\n3.6',
 'Argo Group US\n3.4',
 'Associated Electric Cooperative\n4.1',
 'Seen by Indeed',
 'PennyMac\n3.2',
 'Zest AI\n3.9',
 'DECISIVE ANALYTICS Corporation\n4.7',
 'Aptonet Inc\n5.0',
 'Karyopharm Therapeutics Inc.\n2.9',
 'Tempus Labs\n3.0',
 'Recursion Pharmaceuticals\n4.7',
 'P2 Energy Solutions\n3.7',
 'ClearEdge\n4.0',
 'OSI Engineering\n4.4',
 'Tapjoy\n3.9',
 'Credit Sesame\n4.1',
 'Octane\n4.2',
 'Greenwich Biosciences\n4.6',
 'Decode_M',
 'San Manuel Casino\n3.6',
 'Texas Health Huguley Hospital\n4.0',
 'GSN Games\n4.5',
 'Teasdale Latin Foods\n2.4',
 'Redstream Technology\n4.1',
 'Central California Alliance for Health\n3.5',
 'Pilot Flying J Travel Centers LLC\n3.0',
 "Palermo's Pizza\n3.3",
 'Advanced BioScience Laboratories\n2.7',
 'Echo Global Logistics\n3.4',
 'Lockheed Martin\n3.7',
 'Acuity Insurance\n4.8',
 'Fareportal\n3.8',
 'Veterans Affairs, Veterans Health Administration\n3.4',
 'Credera\n4.3',
 'Daugherty Business Solutions\n4.3',
 'Spectrum Communications and Consulting\n3.4',
 'NCSOFT\n3.1',
 'Dayton Freight Lines, Inc.\n4.3',
 'Community Action Partnership of San Luis Obispo\n2.8',
 'TrueAccord\n3.4',
 'DRB Systems\n4.0',
 'Corcentric\n3.7',
 'Blend360\n4.6',
 'U.Group\n3.5',
 'Calista\n2.4',
 'Sandhills Global\n2.5',
 'Hire Resolve\n3.8',
 'Systems Evolution Inc.\n4.7',
 'Eventbrite\n4.4',
 'Centro\n4.1',
 'comScore\n2.5',
 'Genesis Research\n5.0',
 'SullivanCotter\n4.2',
 'NPD\n3.9',
 'Bakery Agency\n4.3',
 'Service Express\n4.3',
 'Rose International\n4.5',
 'Blue Cross & Blue Shield of Rhode Island\n3.4',
 'Boys Town\n3.8',
 'The HSC Health Care System\n3.3',
 'Pro-Sphere Tek\n3.4',
 'Ameritas Life Insurance Corp\n3.0',
 'Genworth\n3.7',
 '605\n5.0',
 'Trace Data\n3.9',
 'Clearwater Analytics\n4.2',
 'NS8\n5.0',
 'Tekvalley, Corp.\n4.0',
 'SmartNews, Inc.\n4.6',
 'BWX Technologies\n3.5',
 'Vermeer\n3.9',
 'Cambridge Trust Company\n3.6',
 'Zylotech\n3.7',
 'Redapt\n3.6',
 'L&T Infotech\n3.5',
 'OceanFirst Financial\n4.3',
 'Northpointe Bank\n4.7',
 "Sotheby's\n3.6",
 'Vanda Pharmaceuticals\n2.3',
 'CK-12 Foundation\n4.1',
 'Opinion Dynamics\n4.2',
 'Applied Information Sciences\n4.6',
 'PM2CM',
 'WK Dickson\n4.4',
 'Freedman Healthcare\n5.0',
 'Randstad\n3.6',
 'Southwest Research Institute\n3.9',
 'Muso',
 'CyberCoders\n4.2',
 'The Integer Group\n2.2',
 'McCarthy Building Co\n4.3',
 'SciPlay\n4.0',
 'GovTech\n3.6',
 'Samba TV\n3.3',
 'SV Microwave\n3.4',
 'Sumo Logic\n3.8',
 'EAB\n3.5',
 'Brighthouse Financial\n3.5',
 'Monte Rosa Therapeutics',
 'Citadel Federal Credit Union\n3.9',
 'CALIBRE Systems\n3.7',
 'Motorola Solutions\n3.7',
 'Reynolds American\n3.1',
 'Infosys\n3.0',
 'Alignment Healthcare\n3.5',
 'FrankCrum Staffing\n3.3',
 'Cboe Global Markets\n3.7',
 'Guidepoint\n3.2',
 'Cerus Corporation\n2.1',
 'Vail Health\n3.7',
 'Qualifacts Systems, Inc.\n3.1',
 'Sterling National Bank\n2.7',
 'AstraZeneca\n3.9',
 'MathWorks\n4.4',
 'MetroStar Systems\n3.4',
 'NJF Global Holdings\n4.1',
 'Audentes Therapeutics\n2.9',
 'National Interstate\n3.3',
 'Moser Consulting\n4.5',
 'Mcphail Associates\n3.3',
 'Crown Bioscience\n2.4',
 'HOVER\n4.8',
 'Q2 Solutions\n2.9',
 'Arbella Insurance\n3.4',
 'Kronos Bio',
 'IGNW\n4.8',
 'Health Union\n4.8',
 'Associated Banc-Corp\n3.8',
 'Shine Systems\n3.6',
 'Genesys\n4.3',
 'Moda Operandi\n1.9',
 'QK\n4.7',
 'Santander\n3.1',
 'Tivity Health\n3.4',
 'BRMi\n4.4',
 'Luminar Technologies\n3.9',
 'Emtec, Inc.\n3.9',
 'Veterans United Home Loans\n4.7',
 'Praetorian\n4.7',
 'Agios Pharmaceuticals\n3.8',
 'Meridian Technologies, Inc\n4.0',
 'Orange Coast Memorial Medical Center\n3.4',
 'Glassdoor\n4.0',
 'Assurant\n3.4',
 'F&G\n3.7',
 'Collinwood Technology Partners, LLC\n4.7',
 'Homology Medicines, Inc.\n4.4',
 'FHLBank Pittsburgh\n3.7',
 'Sanofi\n3.7',
 'GreatAmerica Financial Services\n4.6',
 'Acceleron Pharma\n4.4',
 'AmeriHealth Caritas\n3.0',
 'Strategic Employment Partners\n4.7',
 'Catholic Health Initiatives\n3.2',
 'FLEETCOR\n2.7',
 'Applied Research Laboratories\n3.7',
 'Raytheon\n3.7',
 'OneThree Biotech',
 'RTI International\n4.3',
 'TRANZACT\n3.6',
 'United BioSource\n2.1',
 'Figure Eight\n3.9',
 'Senti Biosciences\n5.0',
 'Royce Geospatial\n5.0',
 'Citi\n3.6',
 'Sage Intacct\n4.7',
 'Scale AI\n3.5',
 'Delphi-US\n3.6',
 'Astreya\n3.4',
 'Change Healthcare\n2.7',
 'MZ\n3.4',
 'HG Insights\n4.7',
 '1-800-FLOWERS.COM, Inc.\n2.8',
 'CBS Interactive\n3.5',
 'Samsung Research America\n3.7',
 'Cuboid IT Solutions\n3.9',
 'Pyramid Consulting, Inc.\n3.9',
 'Lorven Technologies Inc\n4.0',
 'CareDx\n2.5',
 'Serigor Inc.\n3.9',
 'Leidos\n3.4',
 'Beckman Coulter Diagnostics\n3.6',
 'IHS Markit\n3.5',
 'ALIN',
 'e-IT Professionals Corp.\n3.5',
 'TechProjects\n4.8',
 'Biz2Credit Inc\n4.0',
 'PeoplesBank\n4.2',
 'Capgemini\n3.8',
 'GNY Insurance Companies\n3.7',
 'Watchful\n4.4',
 'Quality Consulting Group\n5.0',
 'Conch Technologies, Inc\n4.6',
 'Medidata Solutions\n4.3',
 'Healthfirst\n2.9',
 'Quartet Health\n3.9',
 'Success Academy Charter Schools\n3.1',
 'CompuForce',
 'AXION Healthcare Solutions\n3.6',
 'WeRide.ai',
 'ExecOnline\n4.2',
 'ODSC Hiring Partner',
 'Mteq\n4.0',
 'Brillient\n3.7',
 'Entefy\n4.4',
 'Point72 Ventures',
 'Trace3\n3.4',
 'Saama Technologies Inc\n3.5',
 'Two Sigma\n4.4',
 'Strategic Financial Solutions\n4.0',
 'Remedy BPCI Partners, LLC.\n3.4',
 'The Climate Corporation\n3.2',
 'Crossix Solutions\n3.5',
 'GSK\n3.9',
 'Factual\n4.3',
 'TriNet\n3.3',
 'Signpost\n3.9',
 'Adobe\n4.0',
 'UPM Pharmaceutical Inc\n2.3',
 'Equian LLC\n3.2',
 'Information Builders\n3.2',
 'Greenway Health\n3.0',
 'Confluent\n4.7',
 'Life360\n3.9',
 'IQVIA\n3.6',
 'Riverside Research Institute\n3.6',
 'Icon Health and Fitness\n3.1',
 'Shipt\n3.8',
 'PACT Pharma\n3.5',
 'Job Juncture\n4.7',
 'IntraEdge\n3.4',
 'COUNTRY Financial\n3.8',
 'Mentor Graphics\n4.1',
 'Maxar Technologies\n3.7',
 'ICW Group\n2.8',
 'Exelixis\n3.0',
 'Grand Rounds\n4.2',
 'SPINS, LLC\n3.5',
 'DTCC\n3.3',
 "Macy's\n3.2",
 'SafeGraph\n4.4',
 'Carilion Clinic\n3.7',
 'DoubleVerify\n3.2',
 'Mitsubishi Electric Research Labs\n4.6',
 'Rodan and Fields, LLC\n2.2',
 'Oportun. Inc\n3.8',
 'DESC\n3.4',
 'Johns Hopkins Health Care\n3.3',
 'Community Behavioral Health\n3.7',
 'FORMA THERAPEUTICS\n3.8',
 'Bridg\n2.7',
 'Charter Spectrum\n3.5',
 'Two95 International Inc.\n4.0',
 'Vbeyond Corporation\n4.4',
 'Adyen N.V.',
 'Technosoft Corporation\n3.5',
 'CompQsoft\n3.4',
 'SentiLink',
 'GA Telesis\n3.8',
 'Solugenix Corporation\n4.3',
 'West Coast University\n2.6',
 'SoftBank Robotics\n3.8',
 'Mathematica Policy Research\n3.3',
 'Eliassen Group\n4.5',
 'Edison Software, Inc.\n5.0',
 'SkySync\n5.0',
 'ConsultNet, LLC\n4.3',
 'DatamanUSA, LLC\n3.4',
 'HireResources a Tailored Solutions Company (WO)\n5.0',
 'Jobot\n5.0',
 'Creative Circle, LLC\n3.6',
 'GTN Technical Staffing\n4.2',
 'Steel Point Solutions, LLC\n4.7',
 'Miracle Software Systems\n3.3',
 '23andMe\n4.0',
 'Fivestars\n3.9']

Beside company name we also have some number which I think represent the company rating. I will remove it using .split() and create a new column **Company_Name**

In [119]:
df["Company_Name"] =df["Company Name"].apply(lambda x : x.split("\n")[0])
df[["Rating", "Company Name" ,"Company_Name"]].head(3)

,Rating,Company Name,Company_Name
0,3.8,Tecolote Research\n3.8,Tecolote Research
1,3.4,University of Maryland Medical System\n3.4,University of Maryland Medical System
2,4.8,KnowBe4\n4.8,KnowBe4

# Location 
Job's location is a important fact in finding out job salary.That's why I am creating a column **Job_State** which will have the information of the state where the job is located. Lets see what new challage **Location** column bring.

In [122]:
df["Location"].isnull().value_counts()

False    956
Name: Location, dtype: int64

In [123]:
df["Location"].unique().tolist()

['Albuquerque, NM',
 'Linthicum, MD',
 'Clearwater, FL',
 'Richland, WA',
 'New York, NY',
 'Dallas, TX',
 'Baltimore, MD',
 'San Jose, CA',
 'Rochester, NY',
 'Chantilly, VA',
 'Plano, TX',
 'Seattle, WA',
 'Cambridge, MA',
 'Newark, NJ',
 'Mountain View, CA',
 'San Francisco, CA',
 'Denver, CO',
 'Chicago, IL',
 'Louisville, KY',
 'Oregon',
 'Herndon, VA',
 'Hillsboro, OR',
 'Worcester, MA',
 'Groton, CT',
 'Detroit, MI',
 'Sunnyvale, CA',
 'Ipswich, MA',
 'Redlands, CA',
 'Woburn, MA',
 'Fremont, CA',
 'Long Beach, NY',
 'Marlborough, MA',
 'Allendale, NJ',
 'Chandler, AZ',
 'Washington, DC',
 'Bellevue, WA',
 'Longmont, CO',
 'Beavercreek, OH',
 'Peoria, IL',
 'Kingdom, IL',
 'Fort Lauderdale, FL',
 'Boston, MA',
 'Huntsville, AL',
 'Armonk, NY',
 'San Diego, CA',
 'Saint Louis, MO',
 'Lincoln, RI',
 'Cincinnati, OH',
 'Palo Alto, CA',
 'Coraopolis, PA',
 'Framingham, MA',
 'Atlanta, GA',
 'New Jersey',
 'Philadelphia, PA',
 'Vancouver, WA',
 'Indianapolis, IN',
 'Lake Forest, IL',
 'Maryland Heights, MO',
 'Charlottesville, VA',
 'Pittsburgh, PA',
 'Harrisburg, PA',
 'Laurel, MD',
 'Arlington, VA',
 'Tacoma, WA',
 'Miami, FL',
 'New Orleans, LA',
 'Landover, MD',
 'Patuxent River, MD',
 'Suitland, MD',
 'McLean, VA',
 'Fort Belvoir, VA',
 'Milwaukee, WI',
 'Silver Spring, MD',
 'South San Francisco, CA',
 'Syracuse, NY',
 'Gainesville, FL',
 'Virginia',
 'Houston, TX',
 'Charlotte, NC',
 'Southfield, MI',
 'Matawan, NJ',
 'Rochester, MN',
 'Phoenix, AZ',
 'Omaha, NE',
 'Lyndhurst, NJ',
 'Atlanta, IN',
 'Rockville, MD',
 'Minneapolis, MN',
 'Santa Barbara, CA',
 'Bethesda, MD',
 'Los Angeles, CA',
 'Alabaster, AL',
 'Mount Olive, NJ',
 'Santa Fe Springs, Los Angeles, CA',
 'Kansas City, MO',
 'Ashburn, VA',
 'Fort Worth, TX',
 'Valencia, CA',
 'Novato, CA',
 'Reston, VA',
 'Aurora, CO',
 'Waltham, MA',
 'Tampa, FL',
 'Camarillo, CA',
 'Riverton, UT',
 'Chattanooga, TN',
 'Milpitas, CA',
 'Ewing, NJ',
 'Cupertino, CA',
 'Alexandria, VA',
 'Frederick, MD',
 'Fort Lee, NJ',
 'West Reading, PA',
 'Madison, WI',
 'Dearborn, MI',
 'Winter Park, FL',
 'San Rafael, CA',
 'Hamilton, NJ',
 'Woodbridge, NJ',
 'Lewes, DE',
 'Springfield, MO',
 'Burbank, CA',
 'Newton, MA',
 'Salt Lake City, UT',
 'Lafayette, LA',
 'Annapolis Junction, MD',
 'Carlsbad, CA',
 'Highland, CA',
 'Burleson, TX',
 'Hoopeston, IL',
 'Georgia Southern, GA',
 'Scotts Valley, CA',
 'Knoxville, TN',
 'Millville, DE',
 'Sheboygan, WI',
 'San Mateo, CA',
 'Dayton, OH',
 'Parlier, CA',
 'Meridian, ID',
 'Cherry Hill, NJ',
 'Columbia, MD',
 'Anchorage, AK',
 'Lincoln, NE',
 'Nashville, TN',
 'Portland, OR',
 'Hoboken, NJ',
 'Port Washington, NY',
 'Austin, TX',
 'Grand Rapids, MI',
 'Creve Coeur, MO',
 'United States',
 'Providence, RI',
 'Raleigh, NC',
 'Phila, PA',
 'Oakland, CA',
 'Bloomington, MN',
 'Boise, ID',
 'Oak Ridge, TN',
 'Agoura Hills, CA',
 'Pella, IA',
 'Burlington, MA',
 'Woodinville, WA',
 'San Ramon, CA',
 'Red Bank, NJ',
 'Pomona, CA',
 'Columbia, SC',
 'Springfield, MA',
 'San Antonio, TX',
 'Portsmouth, VA',
 'West Palm Beach, FL',
 'Newark, CA',
 'Exton, PA',
 'Owensboro, KY',
 'Hartford, CT',
 'Orange, CA',
 'Tallahassee, FL',
 'Lenexa, KS',
 'Concord, CA',
 'Vail, CO',
 'Dulles, VA',
 'Natick, MA',
 'Winston-Salem, NC',
 'Richfield, OH',
 'Hampton, VA',
 'Ithaca, NY',
 'Marietta, GA',
 'Quincy, MA',
 'Green Bay, WI',
 'Durham, NC',
 'Clovis, CA',
 'Orlando, FL',
 'Columbia, MO',
 'Fountain Valley, CA',
 'Westlake, OH',
 'Des Moines, IA',
 'Bedford, MA',
 'Cedar Rapids, IA',
 'Blue Bell, PA',
 'Springfield, VA',
 'Jersey City, NJ',
 'Emeryville, CA',
 'Carle Place, NY',
 'King of Prussia, PA',
 'Santa Clara, CA',
 'Piscataway, NJ',
 'Brisbane, CA',
 'Foster City, CA',
 'Holyoke, MA',
 'Juncos, PR',
 'Corvallis, OR',
 'Gaithersburg, MD',
 'Aliso Viejo, CA',
 'Dublin, CA',
 'Bristol, TN',
 'Arvada, CO',
 'Franklin, TN',
 'Plymouth Meeting, PA',
 'Allentown, PA',
 'Logan, UT',
 'Birmingham, AL',
 'Scottsdale, AZ',
 'Bloomington, IL',
 'Alameda, CA',
 'Johns Creek, GA',
 'Roanoke, VA',
 'Maryland',
 'Glen Burnie, MD',
 'Watertown, MA',
 'Cambridge, MD',
 'Amsterdam, NY',
 'Irvine, CA',
 'Ann Arbor, MI',
 'Sandy, UT',
 'Olympia, WA',
 'Richmond, VA',
 'Tempe, AZ',
 'Michigan']

As we can see that the job location is written in this format 
 >Ex: (City Name, Abbreviate State Name)

but in some cases the city is not defined.So to make the new column I need to keep these things in my mind.

In [124]:
df["Job_State"] = df["Location"].apply(lambda x: x.split(",")[1] if "," in x else x.split(",")[0])

df["Job_State"].unique().tolist()

[' NM',
 ' MD',
 ' FL',
 ' WA',
 ' NY',
 ' TX',
 ' CA',
 ' VA',
 ' MA',
 ' NJ',
 ' CO',
 ' IL',
 ' KY',
 'Oregon',
 ' OR',
 ' CT',
 ' MI',
 ' AZ',
 ' DC',
 ' OH',
 ' AL',
 ' MO',
 ' RI',
 ' PA',
 ' GA',
 'New Jersey',
 ' IN',
 ' LA',
 ' WI',
 'Virginia',
 ' NC',
 ' MN',
 ' NE',
 ' Los Angeles',
 ' UT',
 ' TN',
 ' DE',
 ' ID',
 ' AK',
 'United States',
 ' IA',
 ' SC',
 ' KS',
 ' PR',
 'Maryland',
 'Michigan']

**Los Angeles** is not a state. It's a city of CA state. I have to fix it. Other State which don't have the abbrevite name Ex : Virginia, Michigan etc. I will set there abbrevite name manually in the code.

In [125]:
def fix_Location(value):
   # print(value)
    if " Los Angeles" == value:
        return "CA"
    elif "Virginia" == value:
        return "VA"
    elif "Oregon" == value:
        return 'OR'
    elif "New Jersey" == value:
        return "NJ"
    elif "Maryland" == value:
        return "MR"
    elif "Michigan" == value:
        return "MI"
    else:
        return value

In [126]:
df["Job_State"] = df["Job_State"].apply(fix_Location)
df["Job_State"].value_counts()

 CA              210
 MA              124
 NY               96
 VA               56
 IL               48
 PA               41
 TX               39
 MD               37
 WA               25
 NJ               22
 NC               21
 FL               21
 UT               18
 TN               18
 GA               16
 OH               14
 AZ               13
 CO               13
 DC               12
 MO               11
 WI               10
 IN               10
 MI                9
 AL                9
 KY                6
 DE                6
 NE                5
 IA                5
 CT                5
 OR                4
 LA                4
 MN                4
VA                 3
 KS                3
 NM                3
 ID                2
OR                 2
 RI                2
NJ                 2
 AK                1
 SC                1
MR                 1
United States      1
 PR                1
CA                 1
MI                 1
Name: Job_State, dtype: int64

In [127]:
df.head(3)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job_Title,Seniority,Salary,Min_Salary,Max_Salary,Average_Salary,Per_Hour,Employer_Provide,Company_Name,Job_State
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Data Scientist,Na,53-91,53,91,72.0,0,0,Tecolote Research,NM
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,Data Scientist,Na,63-112,63,112,87.5,0,0,University of Maryland Medical System,MD
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,Data Scientist,Na,80-90,80,90,85.0,0,0,KnowBe4,FL

I think if job location and companys' headquater are in the same place it will effect the salary. That's why I think I am keeping track if the job location and compaines Headquater's are in the same state or not.

In [128]:
df["Same_State"] = df.apply(lambda x : 1 if x.Location == x.Headquarters else 0, axis = 1)
df[["Location", "Headquarters", "Same_State"]].head(3)

          Location    Headquarters  Same_State
0  Albuquerque, NM      Goleta, CA           0
1    Linthicum, MD   Baltimore, MD           0
2   Clearwater, FL  Clearwater, FL           1

# Age of the Company

We already have a column **Founded** which provide us the information of company's founding time. I will simply substract founding year from current year.
> Company Age = Foundig year - Current Year

In [129]:
df["Company_Age"] = 2021- df["Founded"]
df[["Company_Name", "Founded", "Company_Age"]].head(3)

                            Company_Name  Founded  Company_Age
0                      Tecolote Research     1973           48
1  University of Maryland Medical System     1984           37
2                                KnowBe4     2010           11

# Job Description

In [130]:
df["Job Description"][0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelor’s degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelor’s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three years’ experience credit for Master’s degree; five years’ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organization’s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

Looks like we have all information. Which is a good thing. Now I can parse skill which I think mostly used in data science job.
* Python
* Spark
* R Studio
* SQL
* AWS
* Statistics 
* Excel
* Bachelor’s Degree (That just I want to know)

In [131]:
df["Python"] = df["Job Description"].apply(lambda x : 1 if "python" in x.lower() else 0)
df.Python.value_counts()

1    496
0    460
Name: Python, dtype: int64

In [132]:
df["Spark"] = df["Job Description"].apply(lambda x : 1 if "spark" in x.lower() else 0)
df.Spark.value_counts()

0    742
1    214
Name: Spark, dtype: int64

In [133]:
df["R_Studio"] = df["Job Description"].apply(lambda x : 1 if "r_studio" in x.lower() else 0)
df.R_Studio.value_counts()

0    956
Name: R_Studio, dtype: int64

In [134]:
df["SQL"] = df["Job Description"].apply(lambda x : 1 if "sql" in x.lower() else 0)
df.SQL.value_counts()

1    480
0    476
Name: SQL, dtype: int64

In [135]:
df["AWS"] = df["Job Description"].apply(lambda x : 1 if "aws" in x.lower() else 0)
df.AWS.value_counts()

0    714
1    242
Name: AWS, dtype: int64

In [136]:
df["Statistics"] = df["Job Description"].apply(lambda x : 1 if "statistics" in x.lower() else 0)
df.Statistics.value_counts()

0    612
1    344
Name: Statistics, dtype: int64

In [137]:
df["Excel"] = df["Job Description"].apply(lambda x : 1 if "excel" in x.lower() else 0)
df.Excel.value_counts()

1    486
0    470
Name: Excel, dtype: int64

In [138]:
df["Bachelor"] = df["Job Description"].apply(lambda x : 1 if "bachelor’s degree" in x.lower() else 0)
df.Spark.value_counts()

0    742
1    214
Name: Spark, dtype: int64

In [140]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Job_Title', 'Seniority', 'Salary', 'Min_Salary', 'Max_Salary',
       'Average_Salary', 'Per_Hour', 'Employer_Provide', 'Company_Name',
       'Job_State', 'Same_State', 'Company_Age', 'Python', 'Spark', 'R_Studio',
       'SQL', 'AWS', 'Statistics', 'Excel', 'Bachelor'],
      dtype='object')

In [141]:
display(df.head(3))

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job_Title,Seniority,Salary,Min_Salary,Max_Salary,Average_Salary,Per_Hour,Employer_Provide,Company_Name,Job_State,Same_State,Company_Age,Python,Spark,R_Studio,SQL,AWS,Statistics,Excel,Bachelor
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Data Scientist,Na,53-91,53,91,72.0,0,0,Tecolote Research,NM,0,48,1,0,0,0,0,0,1,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,Data Scientist,Na,63-112,63,112,87.5,0,0,University of Maryland Medical System,MD,0,37,1,0,0,0,0,1,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,Data Scientist,Na,80-90,80,90,85.0,0,0,KnowBe4,FL,1,11,1,1,0,1,0,1,1,0

I am done cleaning the data. For Exploratory Data Analysis I am saving this data as csv file

In [142]:
df.to_csv('clean_glassdoor_data.csv',index = False)